{% extends "layout.html" %}

{% block title %}Login - Pufferfish{% endblock %}

{% block content %}
<article>
  <header>
    <h2>Login</h2>
  </header>
  <form method="POST">
    <label for="email">
      Email
      <input type="email" id="email" name="email" placeholder="you@example.com" required>
    </label>
    <label for="password">
      Password
      <input type="password" id="password" name="password" placeholder="Your password" required>
    </label>
    <button type="submit">Login</button>
  </form>
  <footer>
    <small>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up</a></small>
  </footer>
</article>
{% endblock %}
