<!-- templates/base.html -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pufferfish{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!-- optional top bar; keep it minimal so it doesn't fight your designs -->
    <header>
        <!-- leave empty on purpose; your child templates render their own menus/links -->
    </header>



    <!-- page-specific content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer></footer>
</body>

</html>