name: Docker CI/CD

on:
    workflow_run:
        workflows: ["Web App CI"]
        types:
            - completed


jobs:
    build-and-test:
        runs-on: ubuntu-latest
        if: github.event.workflow_run.conclusion == 'success'
        steps:
            -
                uses: actions/checkout@v4
            
            - 
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -
                name: Log in to Docker Hub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
                
            -
                name: Build and push to dockerhub
                uses: docker/build-push-action@v6
                with:
                    context: .
                    push: true
                    tags: |
                        xl4624/pufferfish-frontend:latest
                        xl4624/pufferfish-frontend:${{ github.sha }}