name: Docker CI/CD

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            -
                uses: actions/checkout@v4
            
            - 
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -
                name: Log in to Docker Hub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
                
            -
                name: Build and push to dockerhub
                uses: docker/build-push-action@v6
                with:
                    context: .
                    push: false
                    tags: |
                        xl4624/pufferfish-frontend:latest
                        xl4624/pufferfish-frontend:v1.0.0
                        xl4624/pufferfish-frontend:${{ github.sha }}