name: Web App CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run black check
        run: black --check --diff .

      # - name: Lint
      #   run: pylint app/ tests/

      - name: Run tests
        # Disable coverage check for now
        run: pytest --cov=. --cov-report=term --cov-fail-under=80
